<h2 mat-dialog-title>Ny stilling</h2>
<form (ngSubmit)="onCreate()" autocomplete="off">
  <mat-form-field appearance="outline">
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="form.id" name="id">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Stillingsnavn</mat-label>
    <input matInput [(ngModel)]="form.name" name="name" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Ansatt-id</mat-label>
    <input matInput type="number" [(ngModel)]="form.employeeId" name="employeeId" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Start</mat-label>
    <input matInput [(ngModel)]="form.period.start" name="start" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Slutt</mat-label>
    <input matInput [(ngModel)]="form.period.end" name="end" required>
  </mat-form-field>
  <div class="actions">
    <button mat-flat-button color="primary" type="submit" [disabled]="!form.name || !form.employeeId || !form.period.start || !form.period.end">
      Opprett
    </button>
    <button mat-stroked-button type="button" (click)="onCancel()">Avbryt</button>
  </div>
</form>
