<div class="create-task-dialog">
  <h2 mat-dialog-title>Ny oppgave</h2>
  <form (ngSubmit)="onCreate()" autocomplete="off" class="create-task-dialog__form">
    <mat-form-field appearance="outline">
      <mat-label>Id</mat-label>
      <input matInput [(ngModel)]="form.id" name="id">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Oppgavenavn</mat-label>
      <input matInput [(ngModel)]="form.name" name="name" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ansatt-id</mat-label>
      <input matInput type="number" [(ngModel)]="form.employeeId" name="employeeId" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Dato</mat-label>
      <input matInput [(ngModel)]="form.date" name="date" required>
    </mat-form-field>
    <div class="actions">
      <button mat-flat-button color="primary" type="submit" [disabled]="!form.name || !form.employeeId || !form.date">
        Opprett
      </button>
      <button mat-stroked-button type="button" (click)="onCancel()">Avbryt</button>
    </div>
  </form>
</div>
