.positions {
  margin: 16px 0;
  background-color: #FDFDFD;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .75rem;
    margin-bottom: .5rem;
    padding: 16px;
    background-color: #FDFDFD;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .75rem;
  }

  &__table {
    background-color: #FDFDFD;
    width: 100%;
    margin-bottom: .5rem;
  }
}


.edit-form {
  display: grid;
  gap: .75rem;
  margin-top: 1rem;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
    gap: .75rem;
  }

  .actions {
    display: flex;
    gap: .5rem;
  }
}
