<form (ngSubmit)="onSave()" autocomplete="off">
  <div class="grid">
    <mat-form-field appearance="outline">
      <mat-label>id</mat-label>
      <input matInput type="number" [(ngModel)]="form.id" name="id" readonly>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Oppgavenavn</mat-label>
      <input matInput [(ngModel)]="form.name" name="name" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ansatt-id</mat-label>
      <input matInput type="number" [(ngModel)]="form.employeeId" name="employeeId" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Dato</mat-label>
      <input matInput [(ngModel)]="form.date" name="date" required>
    </mat-form-field>
    <div class="actions">
      <button mat-flat-button color="primary" type="submit"
        [disabled]="!form.name || !form.employeeId || !form.date">
        <mat-icon>save</mat-icon> Lagre
      </button>
      <button mat-stroked-button type="button" (click)="onCancel()">
        Avbryt
      </button>
    </div>
  </div>
</form>
