<div class="who-does-what-container">
  <h1>Hvem gjør hva?</h1>

  <div class="who-does-what-container__content">

    <app-employee-container-component
    [employees]="getEmployees()"
    />
    <app-task-container-component
    [task]="getTasks()"
    (save)="onSaveTask($event)"
    (create)="onCreateTask($event)"
    (remove)="onRemoveTask($event)"
    />
    <app-positions-container-component
    [positions]="getPositions()"
    (create)="onCreatePosition($event)"
    (save)="onSavePosition($event)"
    (remove)="onRemovePosition($event)"
    />


  </div>

  <app-assignments-component
  [assignments]="assignments"
  />

</div>
